<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Portifolio</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/array2d.css') }}">
</head>

<body className='snippet-body'>
    <div class="row py-5 px-4">
        <div class="col-md-5 mx-auto">
            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">

                <div class="py-4 px-4">
                    <div class="p-4 rounded shadow-sm bg-light">
                        <p class="font-italic mb-0"> ⇝ Gerar uma imagem em um array 2D de 512 linhas por 512 colunas de
                            Divs com 1
                            pixel de tamanho</p>

                        <form action="/array2d" method="post" enctype="multipart/form-data">
                            <div class="btn-set">
                                <a href="/array2d" class="btn btn-primary">Reiniciar</a>
                                <input type="file" class="form-control" name="input-file-image">
                                <button type="submit" class="btn btn-success">Importar</button>
                            </div>
                        </form>

                        </header>

                        {% if image %}
                        <main>
                            {% for row in image %}
                            <div class="image-row">
                                {% for pixel in row %}
                                <div class="image-pixel" style="background-color: {{ pixel }};"></div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </main>
                        {% endif %}
                    </div>
                </div>
            </div>
            <script type='text/javascript'
                src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
            <script src="{{ url_for('static',filename='js/pixel.js') }}"> </script>

</body>

</html>