<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Semana 3</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet'>
    <link href='#' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/calculadora.css') }}">
</head>

<body className='snippet-body'>
    <div class="row py-5 px-4">
        <div class="col-md-5 mx-auto">
            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                        <div class="profile mr-3"><img src="https://i.imgur.com/rIpkzb6.jpeg" alt="..." width="130"
                                class="rounded mb-2 img-thumbnail"></div>
                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0 mb-0">Gabriel V. de Oliveira (Toshiba/Samsung)</h4>
                            <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>Tads6 - IFMS-TL</p>
                        </div>
                    </div>
                </div>
                <div class="px-4 py-4">
                </div>
                <div class="px-4 py-3">
                    <h5 class="mb-0">Semana 1</h5>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <p class="font-italic mb-0"> </p>
                        <p class="font-italic mb-0"> </p>
                        <p class="font-italic mb-0"> </p>
                    </div>
                </div>
                <div class="py-4 px-4">
                    <h5 class="mb-0">Semana 2</h5>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <p class="font-italic mb-0"> </p>
                        <p class="font-italic mb-0"> </p>
                        <p class="font-italic mb-0"> </p>
                    </div>
                </div>
                <div class="py-4 px-4">
                    <h5 class="mb-0">Semana 3</h5>
                    <p class="font-italic mb-0">Conteúdo: Manipulação e envio de dados entre Python e HTML</p>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <p class="font-italic mb-0"> 
                            <li>Retornar e capturar valores de uma lista:<br>
                                <ol>
                                
                                    <li>Alex</li>
                                
                                    <li>Samsung</li>
                                
                                    <li>Stela</li>
                                
                                </ol>
                                <form action="http://10.8.39.8:5000/tads-teti" method="POST">
                                    <input type="text" name="nome" placeholder="Digite novo Nome">
                                    <button>Adicionar</button>
                                </form>
                            </li>
                        </p>
                        <p class="font-italic mb-0"> </p>
                    </div>
                </div>
                <div class="py-4 px-4">
                    <h5 class="mb-0">Semana 4</h5>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <p class="font-italic mb-0">
                            Criar uma calculadora.
                        </p>
                        <p class="font-italic mb-0">
                            Conversão de decimal para binario.
                        </p>
                        <p class="font-italic mb-0">
                            Criar uma calculadora em aplha numerica capaz de converter qualquer texto em binario.
                        </p>
                        <p class="font-italic mb-0">
                        <div class="container">
                            <div class="calculator">
                                <div class="calculator__display">0</div>
                                <div class="calculator__keys">
                                    <button class="key--operator" data-action="add">+</button>
                                    <button class="key--operator" data-action="subtract">-</button>
                                    <button class="key--operator" data-action="multiply">&times;</button>
                                    <button class="key--operator" data-action="divide">÷</button>
                                    <button>7</button>
                                    <button>8</button>
                                    <button>9</button>
                                    <button>4</button>
                                    <button>5</button>
                                    <button>6</button>
                                    <button>1</button>
                                    <button>2</button>
                                    <button>3</button>
                                    <button>0</button>
                                    <button data-action="decimal">.</button>
                                    <button data-action="clear">AC</button>
                                    <button class="key--equal" data-action="calculate">=</button>
                                </div>
                            </div>
                        </div>
                        </p>
                        <p class="font-italic mb-0"> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript'
        src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
        <script src="{{ url_for('static',filename='js/calculadora.js') }}"> </script>
    <script type='text/javascript' src='#'></script>
    <script type='text/javascript' src='#'></script>
    <script type='text/javascript' src='#'></script>
    <script type='text/javascript'>var myLink = document.querySelector('a[href="#"]');
        myLink.addEventListener('click', function (e) {
            e.preventDefault();
        });</script>

</body>

</html>