<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Portifolio</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
</head>

<body className='snippet-body'>
    <div class="row py-5 px-4">
        <div class="col-md-5 mx-auto">
            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                        <div class="profile mr-3"><img src="https://i.imgur.com/rIpkzb6.jpeg" alt="..." width="130"
                                class="rounded mb-2 img-thumbnail"></div>
                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0 mb-0">Gabriel V. de Oliveira (Toshiba/Samsung)</h4>
                            <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>Tads6 - IFMS-TL</p>
                        </div>
                    </div>
                </div>
                <div class="px-4 py-4">
                </div>
                <div class="px-4 py-3">
                    <h5 class="mb-0">Semana 1</h5>
                    <p class="font-italic mb-0">Conteúdo: Discussão sobre o plano de ensino e atividades avaliativas</p>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <p class="font-italic mb-0"> ■ Apresentação do <a href="/plan">Plano de Ensino</a></p>
                        <p class="font-italic mb-0"> ■ Discussão sobre aderencia à Ementa Proposta </p>
                        <p class="font-italic mb-0"> ■ Apresentação das Atividades Avaliativas </p>
                        <p class="font-italic mb-0"> ■ Detalhamento do Cronograma de Atividades </p>
                    </div>
                </div>
                <div class="py-4 px-4">
                    <h5 class="mb-0">Semana 2</h5>
                    <p class="font-italic mb-0">Conteúdo: Introdução ao Python, VENV e Flask</p>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <p class="font-italic mb-0"> ■ Apresentação a linguagem de programação Python </p>
                        <p class="font-italic mb-0"> ■ Instalação do Python no Linux </p>
                        <p class="font-italic mb-0"> <code>sudo apt-get install python3.9</code></p>
                        <p class="font-italic mb-0"> ■ Introdução ao básico do Python</p>
                        <p class="font-italic mb-0"> ■ Criação do Ambiente Virtual</p>
                        <p class="font-italic mb-0"> <code>python3.9 -m venv {venv-name}</code></p>
                        <p class="font-italic mb-0"> ■ Introdução teórica e instalação do Flask </p>
                        <p class="font-italic mb-0"> <code>pip install Flask</code></p>
                        <p class="font-italic mb-0"> ■ Introdução prática ao Flask </p>
                        <p class="font-italic mb-0"> ■ Iniciando o primeiro <a href="/hello">App Flask</a>
                        </p>
                        <p class="font-italic mb-0"> <code>flask run</code></p>
                        <p class="font-italic mb-0"> ■ Retornando mensagem</p>
                        <p class="font-italic mb-0"> <code>return "mensagem"</code></p>

                    </div>
                </div>
                <div class="py-4 px-4">
                    <h5 class="mb-0">Semana 3</h5>
                    <p class="font-italic mb-0">Conteúdo: Manipulação e envio de dados entre Python e HTML</p>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <p class="font-italic mb-0"> ■ Passagem de dados do Python</p>
                        <p class="font-italic mb-0"> Professor: <span>{{ teacher }}</span> </p>
                        <p class="font-italic mb-0"> Alunos:</p>
                        {% for name in students_list %}
                        <p class="font-italic mb-0"> {{ name }}</p>
                        {% endfor %}
                    </div>    
                </div>
                <div class="px-4">
                    <div class="p-4 rounded shadow-sm bg-light">
                        <p class="font-italic mb-0"> ■ Retornando valores de uma Lista:</p>
                        {% for name in name_list %}
                        <p class="font-italic mb-0"> {{ name }}</p>
                         {% endfor %}
                        <p class="font-italic mb-0">
                            <form action="/" method="POST">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="insira um nome">
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-outline-success">adicionar</button>
                                </div>
                            </form>
                        </p>
                    </div>
                </div>  
                <div class="py-4 px-4">
                    <h5 class="mb-0">Semana 4</h5>
                    <p class="font-italic mb-0">Conteúdo: Criação de calculadoras</p>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <p class="font-italic mb-0"> ■ <a href="/calculator">Calculadora</a> com conversão de decimal para binario</p>
                        <p class="font-italic mb-0"> ■ <a href="/calculatoralpha">Calculadora</a> alfa numerica capaz de converter qualquer texto em binario</p>
                        <p class="font-italic mb-0"> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript'
        src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
    <!-- <script src="{{ url_for('static',filename='js/calculator.js') }}"> </script> -->

</body>

</html>