<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Plano de Ensino</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/plan.css') }}">
</head>

<body className='snippet-body'>
    <div class="row py-5 px-4">
        <div class="col-md-5 mx-auto">
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 py-4">
                    <div class="py-4 px-4">
                        <header>
                            <div class="header-image">
                                <img src="{{ url_for('static', filename='img/brasao_armas.png') }}">
                            </div>
                            <div class="header-info">
                                MINISTÉRIO DA EDUCAÇÃO <br>
                                Secretaria de Educação Profissional e Tecnológica <br>
                                Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso do Sul
                            </div>
                            <div class="header-image">
                                <img src="{{ url_for('static', filename='img/if.png') }}">
                            </div>
                        </header>
                    </div>
                    <div class="py-4">
                        <h1>Diário de Classe</h1>
                        <table>
                            <tr>
                                <td class="bold-text">Classe:</td>
                                <td>20222476306ATL - AS - 46DTópicos Especiais em Tecnologia da InformaçãoA</td>
                                <td class="bold-text">Unidade Curricular (Código) - CH:</td>
                                <td>Tópicos Especiais em Tecnologia da Informação (TL - AS - 46D) - 60.0h</td>
                                <td class="bold-text">Turma:</td>
                                <td>20222476306A</td>
                            </tr>
                            <tr>
                                <td class="bold-text">Professor(es):</td>
                                <td>ALEX FERNANDO DE ARAUJO</td>
                                <td class="bold-text">Curso:</td>
                                <td>Tecnologia em Análise e Desenvolvimento de Sistemas - Tecnologia</td>
                                <td class="bold-text">Aulas Normais Criadas:</td>
                                <td>80 (45min)</td>
                            </tr>
                        </table>


                        <br>
                        <h2>Plano de Ensino #21682 (Em cadastro)</h1>
                            <table>
                                <tr>
                                    <th rowspan="5" class="index">01</th>
                                    <th colspan="2">IDENTIFICAÇÃO</th>
                                </tr>
                                <tr>
                                    <td><span class="bold-text">CAMPUS:</span> Campus Três Lagoas</td>
                                    <td><span class="bold-text">ANO/SEMESTRE:</span> 2022/2</td>
                                </tr>
                                <tr>
                                    <td><span class="bold-text">CURSO:</span> Curso Superior de Tecnologia em Análise e
                                        Desenvolvimento de Sistemas</td>
                                    <td><span class="bold-text">UNIDADE CURRICULAR (UC):</span> Tópicos Especiais em
                                        Tecnologia da Informação</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><span class="bold-text">PROFESSOR(ES):</span> ALEX FERNANDO DE
                                        ARAUJO</td>
                                </tr>
                                <tr>
                                    <td><span class="bold-text">Carga horária total da UC:</span> 60.0 <br> <span
                                            class="bold-text">Nº de semanas:</span> 20</td>
                                    <td><span class="bold-text">Nº total de aulas teóricas:</span> 40 <br> <span
                                            class="bold-text">Nº total de aulas práticas:</span> 40</td>
                                </tr>
                            </table>


                            <br><br>
                            <table>
                                <tr>
                                    <th class="index">02</th>
                                    <th>EMENTA</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        Ementa do PPC: Ementa variável, focalizando tópicos relacionados com
                                        tecnologias, aplicações, produtos, metodologias e ferramentas de desenvolvimento
                                        de software e hardware.
                                        <br><br>
                                        Ementa Proposta para esta edição da Unidade Curricular. <br>
                                        Criar rotas e integrar páginas HTML. Manipular dados com formulários web.
                                        Autenticação básica em API. Integração com
                                        Banco de Dados MySQL. Deploy de API no Google Cloud Platform.
                                    </td>
                                </tr>
                            </table>


                            <br><br>
                            <table>
                                <tr>
                                    <th class="index">03</th>
                                    <th>OBJETIVO GERAL DA UNIDADE CURRICULAR</th>
                                </tr>
                                <tr>
                                    <td colspan="2">Ao final desta Unidade Curricular espera-se que o estudante seja
                                        capaz de desenvolver aplicações web com conteúdo dinâmico usando Python e Flask.
                                    </td>
                                </tr>
                            </table>


                            <br><br>
                            <table>
                                <tr>
                                    <th class="index">04</th>
                                    <th>OBJETIVOS ESPECÍFICOS DA UNIDADE CURRICULAR</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        - Demonstrar o uso adequado dos conceitos para desenvolvimento de páginas web
                                        com conteúdo dinâmico. <br>
                                        - Demonstrar o uso adequado da linguagem de programação Python. <br>
                                        - Demonstrar o uso adequado do micro-framework Flask. <br>
                                    </td>
                                </tr>
                            </table>


                            <br><br>
                            <table>
                                <tr>
                                    <th class="index">05</th>
                                    <th>AVALIAÇÃO DA APRENDIZAGEM</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <table>
                                            <tr>
                                                <th>Etapa</th>
                                                <th>Avaliação</th>
                                                <th>Instrumentos de avaliação</th>
                                                <th>Datas previstas</th>
                                                <th>Valor máximo</th>
                                            </tr>
                                            <tr>
                                                <td>Semestre (SEM)</td>
                                                <td>Nota 1 - Portifolio com atividades feitas em sala de aula</td>
                                                <td>Portifólio </td>
                                                <td>07/12/2022</td>
                                                <td>10</td>
                                            </tr>
                                            <tr>
                                                <td>Semestre (SEM)</td>
                                                <td>Nota 2 - Projeto Prático</td>
                                                <td>Projeto</td>
                                                <td>14/12/2022</td>
                                                <td>10</td>
                                            </tr>
                                        </table>

                                        <br>
                                        <span class="bold-text">Observações/Detalhamento das Avaliações</span><br>
                                        Nota 1 - Portifólio de atividades feitas em sala: consiste da entrega de listas
                                        de exercícios práticos realizados durante as aulas
                                        do semestre. Esta apresentação acontecerá a partir de uma página web dinâmica, a
                                        qual deverá ler as respostas das
                                        atividades armazenadas em um banco de dados relacional, e exibí-las na página
                                        (portifolio) de cada estudante. <br>
                                        Nota 2 - Projeto Prático: consiste em modelar e desenvolver uma solução web
                                        básica completa durante o semestre letivo.
                                        Cada componente da página deverá ser desenvolvido a medida que os conteúdos
                                        forem apresentados nas aulas.
                                    </td>
                                </tr>
                            </table>


                            <br><br>
                            <table>
                                <tr>
                                    <th class="index">06</th>
                                    <th>RECUPERAÇÃO DA APRENDIZAGEM</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        Revisão de conteúdos às vésperas e após a realização dos instrumentos de
                                        avaliação. Além de atendimento individualizado para os estudantes interessados
                                        durante os horários de Permanência. Recuperação de aprendizagem constante será
                                        feita através da implementação ao estilo hands on de alguns algoritmos presentes
                                        em listas de Exercícios extra classe. Estas listas de exercícios extras para
                                        prática de programação serão disponibilizadas ao longo do semestre, com
                                        apresentação da
                                        correção das atividades mais estratégicas no decorrer das aulas. Para
                                        recuperação de nota será adotado o instrumento de avaliação "Prova Oral", com
                                        nota máxima de dez pontos, a qual poderá substituir a menor das notas dos outros
                                        instrumentos de avaliação que o estudante tiver apresentado
                                    </td>
                                </tr>
                            </table>


                            <br><br>
                            <table>
                                <tr>
                                    <th class="index">07</th>
                                    <th>REFERÊNCIAS</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        BIBLIOGRAFIA BÁSICA <br>
                                        LAUDON, Kenneth C.; LAUDON, Jane Price. Sistemas de informação gerenciais.11.
                                        ed. São Paulo Pearson 2014. <br>
                                        WEILL, Peter; ROSS, Jeanne W. Governança de TI: tecnologia da informação como as
                                        empresas com melhor desempenho
                                        administram os direitos decisórios de TI na busca por resultados
                                        superiores. São Paulo: M. Books do Brasil, 2006. <br>
                                        LAURINDO, Fernando José Barbin; ROTONDARO, Roberto Gilioli. Gestão integrada de
                                        processos e da tecnologia da informação.
                                        São Paulo: Atlas, 2012.
                                        <br><br>
                                        BIBLIOGRAFIA COMPLEMENTAR <br>
                                        BATISTA, Emerson de Oliveira. Sistemas de informação: o uso consciente da
                                        tecnologia para o gerenciamento . 2. ed. São
                                        Paulo: Saraiva, 2014. <br>
                                        IMONIANA, Joshua Onome. Auditoria de sistemas de informação. 2 ed. São Paulo:
                                        Atlas, 2012. <br>
                                        SILVA, Nelson Peres da. Análise e estruturas de sistemas de informação. 1. ed.
                                        São Paulo: Érica, 2011. <br>
                                        FERNANDES, Aguinaldo Aragon; ABREU, Vladimir Ferraz de,. Implantando a
                                        governança de TI : da estratégia à gestão dos
                                        processos e serviços . 3. ed. Rio de Janeiro : : Brasport, , 2012. <br>
                                        MAGALHÃES, Ivan Luizio; PINHEIRO, Walfrido Brito. Gerenciamento de serviços de
                                        TI na prática: uma abordagem com base na
                                        ITIL : inclui ISO/IEC 20.000 e IT Flex . . São Paulo : Novatec, 2007.
                                    </td>
                                </tr>
                            </table>


                            <br><br>
                            <table>
                                <tr>
                                    <th class="index">08</th>
                                    <th>DETALHAMENTO DA PROPOSTA DE TRABALHO</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <table>
                                            <tr>
                                                <th class="detail-month">Mês</th>
                                                <th class="detail-header">Período em dias</th>
                                                <th class="detail-header">Nº aulas</th>
                                                <th class="detail-header">Observações</th>
                                                <th class="detail-header">Conteúdo a ser desenvolvido</th>
                                                <th class="detail-header">Metodologia</th>
                                            </tr>
                                            <tr class="detail-text">
                                                <td>7 - Julho</td>
                                                <td>25 a 31</td>
                                                <td>4</td>
                                                <td>Primeira semana do semestre letivo</td>
                                                <td>Discussão sobre a ementa da Unidade Curricular, sistema de
                                                    avaliação, e apresentação do Plano de Ensino.</td>
                                                <td>Técnicas de Ensino: Debate <br> Recursos de Ensino: Quadro
                                                    branco/canetão</td>
                                            </tr>
                                            <tr class="detail-text">
                                                <td>8 - Agosto</td>
                                                <td>1 a 30</td>
                                                <td>18</td>
                                                <td>Módulo 1</td>
                                                <td>Criar rotas e integrar páginas HTML. Manipular dados com formulários
                                                    web.</td>
                                                <td>Técnicas de Ensino: Aula prática <br><br> Recursos de Ensino:
                                                    Laboratório, Quadro branco/canetão, Livro didático</td>
                                            </tr>
                                            <tr class="detail-text">
                                                <td>9 - Setembro</td>
                                                <td>1 a 30</td>
                                                <td>18</td>
                                                <td>Módulo 2</td>
                                                <td>Autenticação básica em API.</td>
                                                <td>Técnicas de Ensino: Aula prática <br><br> Recursos de Ensino:
                                                    Laboratório, Livro didático, Quadro branco/canetão</td>
                                            </tr>
                                            <tr class="detail-text">
                                                <td>10 - Outubro</td>
                                                <td>1 a 31</td>
                                                <td>12</td>
                                                <td>Módulo 3</td>
                                                <td>Integração com Banco de Dados MySQL.</td>
                                                <td>Técnicas de Ensino: Aula prática <br><br> Recursos de Ensino:
                                                    Laboratório, Quadro branco/canetão, Livro didático</td>
                                            </tr>
                                            <tr class="detail-text">
                                                <td>11 - Novembro</td>
                                                <td>1 a 30</td>
                                                <td>16</td>
                                                <td>Módulo 4</td>
                                                <td>Deploy de API no Google Cloud Platform.</td>
                                                <td>Técnicas de Ensino: Aula prática <br><br> Recursos de Ensino:
                                                    Laboratório, Quadro branco/canetão, Livro didático</td>
                                            </tr>
                                            <tr class="detail-text">
                                                <td>12 - Dezembro</td>
                                                <td>1 a 21</td>
                                                <td>12</td>
                                                <td>Avaliações finais e encerramento do semestre letivo</td>
                                                <td>Revisão final de conteúdo, acompanhado de entrega das atividades
                                                    referentes aos instrumentos de avaliação 1 e 2, feedbacks,
                                                    realização de recuperação de nota.</td>
                                                <td>Técnicas de Ensino: Aula prática <br><br> Recursos de Ensino:
                                                    Laboratório, Quadro branco/canetão, Projetor multimídia</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                    </div>
                    <div class="col-md-12 text-center">
                        <a href="/"><button type="button" class="btn btn-outline-success">Voltar</button></a>
                    </div>
                </div>

            </div>
        </div>
        <script type='text/javascript'
            src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript'>var myLink = document.querySelector('a[href="#"]');
            myLink.addEventListener('click', function (e) {
                e.preventDefault();
            });</script>

</body>

</html>